@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">    
        <div class="alert alert-info" role="alert">Thanks for your order.</div>
    </div>
</div>

